In [166]:
import pandas as pd

male_df = pd.read_csv('./data/male.csv')
female_df = pd.read_csv('./data/female.csv')
tmp_df = pd.concat([male_df, female_df])
body_df = pd.DataFrame()

In [167]:
body_df['shoulders'] = tmp_df['biacromialbreadth'] / 10
body_df['upper_arm_length'] = (tmp_df['shoulderelbowlength'] / 2) / 10
body_df['waist'] = tmp_df['waistcircumference'] / 10
body_df['chest'] = tmp_df['chestcircumference'] / 10
body_df['length'] = (tmp_df['cervicaleheight'] - tmp_df['buttockheight']) / 10
body_df['collar'] = tmp_df['neckcircumferencebase'] / 10
body_df['height'] = tmp_df['Heightin'] * 2.54
body_df['weight'] = tmp_df['weightkg'] / 10
body_df['gender'] = tmp_df['Gender']

In [168]:
body_df.shape

(6068, 9)

In [175]:
import math

M = [46., 20.5, 50., 54., 70., (8.25**2 * math.pi)]
number = 0
for i in M:
    number += i

number = number / len(M)
print(number)

male = [40.1, 18.4, 47.6, 53.7, 65.3, 43.6]
new_number = 0
for i in male:
    new_number += i

new_number = new_number / len(male)
print(new_number)

75.72077499749254
44.78333333333334

In [178]:
body_df.head()

,shoulders,upper_arm_length,waist,chest,length,collar,height,weight,gender
0,40.1,18.40,93.3,107.4,65.3,43.6,180.34,81.5,Male
1,39.4,17.65,87.0,102.1,60.1,42.0,172.72,72.6,Male
2,42.7,18.35,96.4,112.0,60.0,43.4,172.72,92.9,Male
3,40.1,16.50,85.7,111.4,60.2,44.6,167.64,79.4,Male
4,43.5,20.00,86.8,104.8,60.4,43.0,195.58,94.6,Male

In [176]:
male_df.head()

,subjectid,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,Branch,PrimaryMOS,SubjectsBirthLocation,SubjectNumericRace,Ethnicity,DODRace,Age,Heightin,Weightlbs,WritingPreference
0,10027,266,1467,337,222,1347,253,202,401,369,...,Combat Arms,19D,North Dakota,1,NaN,1,41,71,180,Right hand
1,10032,233,1395,326,220,1293,245,193,394,338,...,Combat Support,68W,New York,1,NaN,1,35,68,160,Left hand
2,10033,287,1430,341,230,1327,256,196,427,408,...,Combat Support,68W,New York,2,NaN,2,42,68,205,Left hand
3,10092,234,1347,310,230,1239,262,199,401,359,...,Combat Service Support,88M,Wisconsin,1,NaN,1,31,66,175,Right hand
4,10093,250,1585,372,247,1478,267,224,435,356,...,Combat Service Support,92G,North Carolina,2,NaN,2,21,77,213,Right hand

In [170]:
body_df.tail()

,shoulders,upper_arm_length,waist,chest,length,collar,height,weight,gender
1981,36.8,17.70,104.3,108.2,60.1,39.1,170.18,83.2,Female
1982,37.8,15.90,97.1,101.6,57.2,39.9,160.02,71.7,Female
1983,36.3,16.90,98.2,109.3,56.6,40.2,167.64,76.2,Female
1984,37.6,16.05,83.7,92.2,59.1,38.0,160.02,63.2,Female
1985,36.1,16.95,89.1,90.2,58.1,38.1,167.64,61.0,Female

In [171]:
body_df['gender'].count

<bound method Series.count of 0         Male
1         Male
2         Male
3         Male
4         Male
         ...
1981    Female
1982    Female
1983    Female
1984    Female
1985    Female
Name: gender, Length: 6068, dtype: object>

In [172]:
body_df.head()

,shoulders,upper_arm_length,waist,chest,length,collar,height,weight,gender
0,40.1,18.40,93.3,107.4,65.3,43.6,180.34,81.5,Male
1,39.4,17.65,87.0,102.1,60.1,42.0,172.72,72.6,Male
2,42.7,18.35,96.4,112.0,60.0,43.4,172.72,92.9,Male
3,40.1,16.50,85.7,111.4,60.2,44.6,167.64,79.4,Male
4,43.5,20.00,86.8,104.8,60.4,43.0,195.58,94.6,Male

In [174]:
body_df.groupby(['gender'])['length'].mean()

gender
Female    56.192497
Male      62.943288
Name: length, dtype: float64

In [174]:
class Person:
    def __init__(self, height, weight, size):
        self.height = height
        self.weight = weight
        self.size = size