In [2]:
import matplotlib as plt
import pandas as pd
import seaborn as sns

In [3]:
estonia_df = pd.read_csv('./data/estonia.csv')
titanic_df = pd.read_csv('./data/titanic.csv')

In [4]:
estonia_df.head()

   PassengerId  Country        Firstname  Lastname Sex  Age Category  Survived
0            1   Sweden      ARVID KALLE     AADLI   M   62        P         0
1            2  Estonia              LEA   AALISTE   F   22        C         0
2            3  Estonia             AIRI   AAVASTE   F   21        C         0
3            4   Sweden             JURI     AAVIK   M   53        C         0
4            5   Sweden  BRITTA ELISABET  AHLSTROM   F   55        P         0

In [6]:
titanic_df.drop('id', axis=1, inplace=True)
estonia_df.drop('PassengerId', axis=1, inplace=True)

In [7]:
estonia_df.head()

   Country        Firstname  Lastname Sex  Age Category  Survived
0   Sweden      ARVID KALLE     AADLI   M   62        P         0
1  Estonia              LEA   AALISTE   F   22        C         0
2  Estonia             AIRI   AAVASTE   F   21        C         0
3   Sweden             JURI     AAVIK   M   53        C         0
4   Sweden  BRITTA ELISABET  AHLSTROM   F   55        P         0

In [10]:
def create_crew(row):
    if 'class' in row:
        if len(row['class']) > 3:
            return 1
        elif len(row['class']) > 0 :
            return 0
    elif 'Category' in row:
        if row['Category'] == 'C':
            return 1
        elif row['Category'] == 'P':
            return 0
    else:
        return -1

In [11]:
estonia_df['crew'] = estonia_df.apply(lambda row: create_crew(row), axis=1)
titanic_df['crew'] = titanic_df.apply(lambda row: create_crew(row), axis=1)

In [12]:
estonia_df.head()

   Country        Firstname  Lastname Sex  Age Category  Survived  crew
0   Sweden      ARVID KALLE     AADLI   M   62        P         0     0
1  Estonia              LEA   AALISTE   F   22        C         0     1
2  Estonia             AIRI   AAVASTE   F   21        C         0     1
3   Sweden             JURI     AAVIK   M   53        C         0     1
4   Sweden  BRITTA ELISABET  AHLSTROM   F   55        P         0     0

In [13]:
pd.value_counts(estonia_df['crew'])

0    796
1    193
Name: crew, dtype: int64

In [14]:
estonia_df.drop('Category', axis=1, inplace=True)

In [15]:
estonia_df.head()

   Country        Firstname  Lastname Sex  Age  Survived  crew
0   Sweden      ARVID KALLE     AADLI   M   62         0     0
1  Estonia              LEA   AALISTE   F   22         0     1
2  Estonia             AIRI   AAVASTE   F   21         0     1
3   Sweden             JURI     AAVIK   M   53         0     1
4   Sweden  BRITTA ELISABET  AHLSTROM   F   55         0     0

In [16]:
titanic_df['survived'] = titanic_df.apply(lambda row: 0 if row['survived'] == 'no' else 1, axis=1)

In [33]:
estonia_df.groupby(['Country', 'crew'])['Survived'].mean()

KeyError: False

In [21]:
titanic_df.groupby(['gender', 'crew'])['survived'].mean()

gender  crew
female  0       0.727468
        1       0.869565
male    0       0.189189
        1       0.220300
Name: survived, dtype: float64

In [29]:
estonia_df[estonia_df['Age'] < 18].groupby(['Sex'])['Survived'].mean()

Sex
F    0.0
M    0.2
Name: Survived, dtype: float64

In [27]:
titanic_df[titanic_df['age'] < 18].groupby(['gender'])['survived'].mean()

gender
female    0.626506
male      0.299145
Name: survived, dtype: float64

In [40]:
estonia_df.groupby(['crew', 'Country'])['Survived'].mean()

crew  Country
0     Belarus          0.000000
      Canada           0.000000
      Denmark          0.166667
      Estonia          0.177143
      Finland          0.357143
      France           0.000000
      Germany          0.375000
      Great Britain    0.500000
      Latvia           0.214286
      Lithuania        0.250000
      Morocco          0.000000
      Netherlands      0.500000
      Nigeria          0.000000
      Norway           0.333333
      Russia           0.000000
      Sweden           0.085981
1     Estonia          0.195266
      Finland          0.500000
      Russia           0.285714
      Sweden           0.200000
Name: Survived, dtype: float64

KeyError: '[False] not in index'